<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <% unless @article.id %>
    <div class="field">
      <%= label_tag 'Category' %>
      <%= render :partial => "categories_checkbox_show" %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :full_text %><br />
    <%= f.cktext_area :full_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% if @article.id %>
  <div id='categories'>
    <%= render :partial => "categories_show", :locals => { :obj => @article } %>
  </div>
  <%= form_tag(categorizations_path, :method => :post, :remote => true) do %>
    <%= select_tag "categorization[category_id]", options_from_collection_for_select(Category.all, "id", "name") %>
    <%= hidden_field_tag "categorization[article_id]", @article.id %>

    <%= submit_tag 'Add Category' %>
  <% end %>
<% end %>