<head>
  <title><%= @setting.try(:project_name) %> - <%= @video.try(:description)[0..100] %></title>
  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/c/video.js"></script>
</head>

<p id="notice"><%= notice %></p>

<p>
  <% if @video.youtube_url.blank? %>
    <video id="my_video_1"
           class="video-js vjs-default-skin"
           controls preload="auto"
           width="360"
           height="215"
           poster="<%= @video.attachment.url(:thumb) %>"
           data-setup="{}">
      <source src="<%= @video.attachment.url(:flv_original) %>" type='video/flv'>
    </video>
  <% else %>
    <iframe width="360"
            height="215"
            src="http://www.youtube.com/embed/<%= @video.parse_youtube %>"
            frameborder="0"
            allowfullscreen
            alt="<%= @video.get_alt %>"
            title="<%= @video.description %>"></iframe>
  <% end %>
</p>







<p>
  <strong><%= 'Categories:' unless @video.categories.blank? %></strong>
  <ul>
    <% @video.categories.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Video description:</strong>
  <%= @video.description %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Destroy', @video, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', videos_path %>
